.Header {
  color: #fff;
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  padding: 0 1rem;
  background: #0067a3;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .Header {
    text-align: center;
    background: transparent;
    flex-direction: column;
    justify-content: center;
  }
}
